<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品一覧</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">商品一覧</h1>
        <div class="block">
            <ul th:each="product : ${products}">
                <li>
                    <a th:href="@{/ec/admin/products/{id}(id = ${product.id})}" th:text="${product.name}">product name</a>
                </li>
            </ul>
        </div>
        <div class="block">
            <a th:href="@{/ec/admin/products/new}">新規登録</a>

        </div>
    </div>
</section>
</body>
</html>