<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>カート</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">カート</h1>
        <div class="block" th:unless="${#lists.isEmpty(cartItems)}">
            <form th:action="@{/ec/cart/checkout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <!--<input type="hidden" name="idempotentKey" th:value="${idempotentKey}"/>-->
                <table class="table">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>単価</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${cartItems}">
                        <td>
                            <span th:text="${item.stockKeepingUnit.product.name}">Product</span>
                            <span th:text="${item.stockKeepingUnit.name}">SKU</span>
                        </td>
                        <td th:text="${item.stockKeepingUnit.price}">0</td>
                        <td th:text="${item.amount}">0</td>
                    </li>
                    </tr>
                    </tbody>
                </table>
                <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">購入</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="block" th:if="${#lists.isEmpty(cartItems)}">
            <p>カートが空です</p>
        </div>

        <a th:href="@{/ec/products/}">商品一覧にもどる</a>
     </div>
</section>
</body>
</html>