<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>レースコンディション</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">レースコンディション</h1>
        <div class="content">
            <p>
                Count = <span th:text="${count}">0</span>
                (elapse <span th:text="${elapse}">0</span>ms)
            </p>
        </div>
    </div>
</section>
</body>
</html>