<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注文一覧</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <div class="block">
            <div class="box" th:each="order : ${orders}">
                <h3>注文番号: <span th:text="${order.id}">0</span></h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>SKU</th>
                        <th>価格</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderLine : ${order.orderLines}">
                        <td th:text="${orderLine.stockKeepingUnit.product.name}">name</td>
                        <td th:text="${orderLine.stockKeepingUnit.name}">name</td>
                        <td th:text="${orderLine.stockKeepingUnit.price}">0</td>
                        <td th:text="${orderLine.amount}">0</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
</body>
</html>