<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>テスト用メニュー</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">テスト用メニュー</h1>
        <div class="content">
            <ul>
                <li>
                    <a th:href="@{/basic/race_condition}">典型的なレースコンディション</a>
                </li>
                <li>
                    <a th:href="@{/basic/race_condition/synchronized}">synchronizedするとレースコンディションは発生しない</a>
                </li>
                <li>
                    <a th:href="@{/basic/race_condition/atomic}">Atomicな操作</a>
                </li>
            </ul>
            <hr/>
            <h3>疑似銀行サイトで排他制御について考えよう</h3>
            <ul>
                <li>
                    <a th:href="@{/bank/}">トランザクションと排他制御の動きを確認する</a>
                </li>
                <li>
                    <a href="https://terasolunaorg.github.io/guideline/public_review/ArchitectureInDetail/ExclusionControl.html">
                        フレームワークの楽観ロック・悲観ロックの機能を見てみよう
                    </a>
                </li>
            </ul>
            <hr/>
            <h3>疑似ECサイトでダブルサブミット問題について考えよう</h3>
            <ul>
                <li>
                    <a th:href="@{/ec/products/}">商品検索</a>
                </li>
                <li>
                    <a th:href="@{/ec/order/list}">注文一覧</a>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>