<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品詳細</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <span th:text="${product.name}" class="title">商品名</span>
        <span th:text="${sku.name}">SKU</span>
        (<span th:text="${sku.price}">0</span>円)
        をカートに追加します。
        <form th:action="@{/ec/cart/items}" method="post">
            <div class="field">
                <p class="control">
                    <button class="button is-success" type="submit">カートに入れる</button>
                </p>
            </div>
        </form>
    </div>
    </div>
</section>
</body>
</html>