<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品詳細</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 th:text="${product.name}" class="title">商品名</h1>
        <span class="icon">
  <i class="fas fa-home"></i>
</span>        <div class="block">
            <form th:action="@{/ec/products/confirm}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}"/>
                <input type="hidden" name="amount" value="1"/>
                <table class="table">
                    <thead>

                    </thead>
                    <tbody>
                    <tr th:each="sku : ${product.stockKeepingUnits}">
                        <td>
                            <label th:for="'sku-'+${sku.id}">
                                <input type="radio" name="skuId" th:value="${sku.id}"/>
                            </label>
                        </td>
                        <td>
                            <span th:id="'sku-'+${sku.id}" th:text="${sku.name}">SKU</span>
                        </td>
                        <td>
                            <span th:text="${sku.price}"></span>円
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">カートに入れる</button>
                    </p>
                </div>
            </form>
        </div>
     </div>
</section>
</body>
</html>