<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品一覧</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <nav class="navbar" role="navigation">
            <div class="navbar-brand">
                <h1 class="navbar-item title">商品一覧</h1>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a th:href="@{/ec/cart/items}">カート</a>
                </div>
            </div>
        </nav>

        <form action="" method="get">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" name="q" type="text">
                </p>
                <p class="control">
                    <button class="button is-info">
                        Search
                    </button>
                </p>
            </div>
        </form>

        <div class="block">
            <ul th:each="product : ${products}">
                <li>
                    <a th:href="@{/ec/products/{id}(id = ${product.id})}" th:text="${product.name}">product name</a>
                </li>
            </ul>
        </div>

        <nav class="pagination" role="navigation" aria-label="pagination" th:if="${products.totalPages > 0}">
            <ul class="pagination-list" th:each="pageNumber : ${pageNumbers}">
                <li>
                    <a class="pagination-link"
                       th:href="@{/ec/products/(p=${pageNumber}, q=${param.q})}"
                       th:classappend="${pageNumber==products.number + 1} ? 'is-current' : ''"
                       th:text="${pageNumber}">1</a>
                </li>
            </ul>
        </nav>
     </div>
</section>
</body>
</html>