<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>口座</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">口座残高</h1>
        <div class="content">
            <p></p><span th:text="${account.amount}">0</span>円</p>
            <form method="post" th:action="@{/bank/reset}">
                <button>リセット</button>
            </form>
        </div>

        <ul>
            <li>
                <a id="link-to-no_guard-tx" th:href="@{/bank/transaction/no_guard}">
                    排他制御なし出金処理
                </a>
            </li>
            <li>
                <a id="link-to-optimist-tx" th:href="@{/bank/transaction/optimist}">
                    楽観トランザクション出金処理
                </a>
            </li>
            <li>
                <a id="link-to-pessimist-tx" th:href="@{/bank/transaction/pessimist}">
                    悲観トランザクション出金処理
                </a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>