<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>出金</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">
            排他制御なし出金
        </h1>
        <p>現在の残高は<span th:text="${account.amount}">100</span>円です。(残高以上に引き出しはできません)</p>
        <p class="help is-danger" th:if="${amountIsTooBig}">出金額が多すぎます</p>
        <form method="post" th:action="@{/bank/transaction/no_guard}" th:object="${accountTransactionForm}">
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input id="amount" class="input" th:classappend="${#fields.hasErrors('amount') ? 'is-danger' : ''}" type="text" th:field="*{amount}" placeholder="出金額">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Name Error</p>
            </div>
            <div class="field">
                <p class="control">
                    <button id="button-withdraw" class="button is-success" type="submit">出金</button>
                </p>
            </div>
        </form>
    </div>
</section>
</body>
</html>